.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__left{
    background-color: white;
    color: gray;
    border-radius: 3px;
    display: flex;
    align-items: center;
}